<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header">
    <a class="navbar-brand" href="#">Sklep Online</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Strona Główna</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/product">Produkty</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cart">Koszyk</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Konto
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <form th:action="@{/logout}" method="post">
                        <button class="dropdown-item" type="submit" id="logout-button">Wyloguj</button>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</nav>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#logout-button").click(function(e){
            e.preventDefault();
            $.post("/logout", function() {
                location.reload();
            });
        });
    });
</script>
