<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Koszyk - Sklep Online</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sticky-footer.css}">
    <script src="js/script.js"></script>
</head>
<body>
<div th:replace="${isUserLogged} ? ~{fragments/header_user :: header} : ~{fragments/header_guest :: header}"></div>

<h1>Koszyk</h1>

<table id="cart-table">
    <thead>
    <tr>
        <th>Nazwa produktu</th>
        <th>Ilość</th>
        <th>Cena za sztukę</th>
        <th>Łączna cena</th>
        <th></th>
    </tr>
    </thead>
    <tbody id="cart-items">
    </tbody>
</table>

<p id="cart-total">Całkowita wartość koszyka: </p>

<button onclick="checkout()">Przejdź do kasy</button>

<div th:replace="${isUserLogged} ? ~{fragments/footer_user :: footer} : ~{fragments/footer_guest :: footer}"></div>

<script>
    const cartId = 1;

    function removeFromCart(itemId) {
        fetch(`/api/carts/${cartId}/removeItem/${itemId}`, {
            method: 'POST'
        }).then(response => {
            if(response.status === 200) {
                location.reload();
            } else {
                alert("Nie udało się usunąć przedmiotu z koszyka!");
            }
        });
    }

    const cartItemsElement = document.getElementById('cart-items');
    const cartTotalElement = document.getElementById('cart-total');
    fetch(`/api/carts/${cartId}`)
        .then(response => response.json())
        .then(cart => {
            cart.items.forEach(item => {
                const itemElement = document.createElement('tr');
                itemElement.innerHTML = `
                    <td>${item.productName}</td>
                    <td>${item.quantity}</td>
                    <td>${item.productPrice} zł</td>
                    <td>${item.totalPrice} zł</td>
                    <td><button onclick="removeFromCart(${item.id})">Usuń</button></td>
                `;
                cartItemsElement.appendChild(itemElement);
            });

            cartTotalElement.textContent += `${cart.totalPrice} zł`;
        });
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
