<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Koszyk - Sklep Online</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sticky-footer.css}">
    <script src="js/script.js"></script>
</head>
<body>
<div th:replace="${isUserLogged} ? ~{fragments/header_user :: header} : ~{fragments/header_guest :: header}"></div>

<h1>Koszyk</h1>

<table>
    <thead>
    <tr>
        <th>Nazwa produktu</th>
        <th>Ilość</th>
        <th>Cena za sztukę</th>
        <th>Łączna cena</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Produkt A</td>
        <td>2</td>
        <td>50.00 zł</td>
        <td>100.00 zł</td>
        <td><button onclick="removeFromCart('Produkt A')">Usuń</button></td>
    </tr>
    </tbody>
</table>

<p>Całkowita wartość koszyka: 100.00 zł</p>

<button onclick="checkout()">Przejdź do kasy</button>

<div th:replace="${isUserLogged} ? ~{fragments/footer_user :: footer} : ~{fragments/footer_guest :: footer}"></div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>