<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Kategorie - Sklep Online</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sticky-footer.css}">
    <script src="js/script.js"></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<h1>Categories</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <c:forEach items="${categories}" var="category">
        <tr>
            <td>${category.name}</td>
            <td>
                <a href="${pageContext.request.contextPath}/categories/edit/${category.id}">Edit</a> |
                <a href="${pageContext.request.contextPath}/categories/delete/${category.id}">Delete</a>
            </td>
        </tr>
    </c:forEach>
    </tbody>
</table>

<a href="${pageContext.request.contextPath}/categories/new">Create New Category</a>

<div th:replace="~{fragments/footer :: footer}"></div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
