<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sklep Online</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sticky-footer.css}">
    <script src="js/script.js"></script>
</head>
<body>
<div th:replace="${isUserLogged} ? ~{fragments/header_user :: header} : ~{fragments/header_guest :: header}"></div>

<h1>Witaj, [username] w naszym sklepie online z odzieżą damską!</h1>
<p>Tutaj znajdziesz najnowsze trendy i stylowe ciuchy dla siebie. Przejdź do sekcji Produktów, aby zacząć zakupy.</p>

<div th:replace="${isUserLogged()} ? ~{fragments/footer_user :: footer} : ~{fragments/footer_guest :: footer}"></div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>