<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sklep Online</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script src="js/script.js"></script>
</head>
<body>
<h1>Witamy w naszym sklepie online!</h1>

<nav>
    <ul>
        <li><a href="/register">Zarejestruj się</a></li>
        <li><a href="/login">Zaloguj się</a></li>
        <li><a href="/product">Produkty</a></li>
        <li><a href="/category">Kategorie</a></li>
        <li><a href="/cart">Koszyk</a></li>
    </ul>
</nav>
</body>
</html>
