<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Produkty - Sklep Online</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sticky-footer.css}">
    <script src="js/script.js"></script>
</head>
<body>
<div th:replace="${isUserLogged} ? ~{fragments/header_user :: header} : ~{fragments/header_guest :: header}"></div>

<div class="row">
    <div class="col-3">
        <h3>Kategorie</h3>
        <ul>
            <li th:each="category : ${categories}">
                <a th:href="@{/api/products/category/{categoryName}(categoryName=${category.name})}" th:text="${category.name}"></a>
            </li>
        </ul>

    </div>
    <div class="col-9">
        <h1>Products</h1>
        <table>
            <!-- tabela z produktami -->
        </table>

        <a href="${pageContext.request.contextPath}/products/new">Create New Product</a>
    </div>
</div>

<div th:replace="${isUserLogged} ? ~{fragments/footer_user :: footer} : ~{fragments/footer_guest :: footer}"></div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
