<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Produkty - Sklep Online</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sticky-footer.css}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
<div th:replace="${isUserLogged} ? ~{fragments/header_user :: header} : ~{fragments/header_guest :: header}"></div>

<div class="row">
    <div class="col-3">
        <h3>Kategorie</h3>
        <ul>
            <li th:each="category : ${categories}">
                <input type="checkbox" th:id="${category.id}" th:value="${category.id}" class="category-checkbox">
                <label th:for="${category.id}" th:text="${category.name}"></label>
            </li>
        </ul>
    </div>
    <div class="col-9" id="product-list">
        <h1>Produkty</h1>
        <div th:replace="fragments/product_list :: product_list"></div>

        <a href="${pageContext.request.contextPath}/products/new">Create New Product</a>
    </div>
</div>

<div th:replace="${isUserLogged} ? ~{fragments/footer_user :: footer} : ~{fragments/footer_guest :: footer}"></div>

<script>
    $(document).ready(function() {
        $('.category-checkbox').change(function() {
            var selectedCategories = [];
            $('.category-checkbox:checked').each(function() {
                selectedCategories.push($(this).val());
            });
            $.ajax({
                url: "/product/byCategory",
                method: "GET",
                data: {
                    categories: selectedCategories
                },
                success: function(data) {
                    $('#product-list').html(data);
                }
            });
        });
    });
</script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
